.Navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

.Navigation li {
    margin-left: 20px;
}

.Navigation a {
    text-decoration: none;
    color: white;
}

.Navigation a:active {
    color: red;
}